language: objective-c
matrix:
  include:
    - env: OSX=10.11
      os: osx
      osx_image: osx10.11
      rvm: system
    - env: OSX=10.10
      os: osx
      osx_image: xcode7
      rvm: system
    - env: OSX=10.9
      os: osx
      osx_image: beta-xcode6.2
      rvm: system

before_install:
  - brew update > /dev/null
  
install:
  - mkdir -p $(brew --repo)/Library/Taps/osrf
  - ln -s $PWD $(brew --repo)/Library/Taps/osrf/homebrew-simulation
  - brew tap --repair
  
script:
  - brew audit `ls $(brew --repo)/Library/Taps/osrf/homebrew-simulation/*.rb | grep -v sofa.rb`
  - brew style `ls $(brew --repo)/Library/Taps/osrf/homebrew-simulation/*.rb`
  - brew fetch --force-bottle `ls $(brew --repo)/Library/Taps/osrf/homebrew-simulation/*.rb | grep -v sofa.rb` | grep -v '%$'
  - brew unpack --patch `ls $(brew --repo)/Library/Taps/osrf/homebrew-simulation/*.rb | grep -v sofa.rb`
  
matrix:
  fast_finish: true
